{% extends "base.html" %}
{% load static bootstrap3 i18n %}


{% block css %}
<link href="{% static 'css/picture.css' %}" rel="stylesheet" > 
{% endblock css %}


{% block main %}
<div class="container-fluid">
  <div class="jumbotron">
    <h3>Picture on Map</h3>
    <p>Please see the location of all the photos on the map.</p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'onmap:manual' %}" role="button">Learn more</a></p> 
  </div>
</div>

{% include 'onmap/partial/pos_add.html' %}

{% endblock main %}


{% block javascript %}
<script src="{% static 'js/exif.js' %}"></script> 
<script src="{% static 'js/pictureadd.js' %}"></script> 

{% if not user.is_authenticated %}
  <script>
  $("#id_name").val("Test Name");
  </script>
{% endif %}

{% endblock javascript %}
