{% extends "call.html" %}
{% load static bootstrap3 i18n %}


{% block css %}
<link href="{% static 'css/picture.css' %}" rel="stylesheet" > 
{% endblock css %}


{% block main %}
<div class="container">
  <div class="jumbotron">
    <h3>{% trans "Picture on Map" %}</h3>
    <p>{% trans "Please see the location of all the photos on the map." %} 
    {% trans "Please see the location of all the photos on the map." %} </p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'onmap:manual' %}" role="button">{% trans "Learn more" %}</a></p> 
  </div>
</div>

{% if not user.is_authenticated %}
<div class="container">
  <h4>{% trans "If you sign up, all records will be saved and available for future use." %}
  <a href="{% url 'login' %}"> <button class="btn btn-primary">{% trans "Sign Up" %} </button> </a></h4>
   
</div>
{% endif %}

{% include 'onmap/partial/pos_add.html' %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="fb-like" 
          data-href="https://www.pictureonmap.com/" 
          data-layout="standard" 
          data-action="like" 
          data-size="large" 
          data-show-faces="true" 
          data-share="true">
      </div>
      <div id="fb-root"></div>
    </div>
  </div>
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1130433950309278&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock main %}


{% block javascript %}
<script src="{% static 'js/exif.js' %}"></script> 
<script src="{% static 'js/pictureadd.js' %}"></script> 

{% if not user.is_authenticated %}
  <script>
  $("#id_name").val("Test Name");
  </script>
{% endif %}

{% endblock javascript %}
