{% extends "base.html" %}
{% load static bootstrap3 i18n %}


{% block css %}
<link href="{% static 'css/picture.css' %}" rel="stylesheet" > 
{% endblock css %}


{% block main %}

  <div class="wizard">
    <div class="wizard-item">
      {# item 1 #}
      <div class="wizard-content">
          <img src="{% static 'images/a4.png' %}" width="300px"> 
          <p>{% trans "Just upload a picture of your smartphone or digital camera to the site and the location of the photo is displayed on the map." %} </p>
          <p>{% trans "Please record your goals or accomplishments on your map." %} </p>
          <div class="form-mini-divider"></div>
          <a class="button circle green" href="{% url 'onmap:add' %}" role="button">{% trans "Try..." %}</a>
      
      </div>
    </div>
    <div class="wizard-item">
      {# item 1 #}
      <div class="wizard-content">
          <img src="{% static 'images/a1.png' %}" width="300px"> 
          <p>{% trans "Select the first Add menu." %} 
          <p><a class="button circle green" href="{% url 'onmap:add' %}" role="button">{% trans "Try..." %}</a></p>
      </div>
    </div>

    <div class="wizard-item">
      {# item 1 #}
      <div class="wizard-content">
          <img src="{% static 'images/a2.png' %}" width="300px"> 
          <p>{% trans "Second, please upload a picture of your smartphone or digital camera to the site based on the topic" %} 
          <p><a class="button circle green" href="{% url 'onmap:add' %}" role="button">{% trans "Try..." %}</a></p>
      </div>
    </div>

    <div class="wizard-item">
      {# item 1 #}
      <div class="wizard-content">
          <img src="{% static 'images/a3.png' %}" width="300px"> 
          <p>{% trans "Third, the photo automatically displays on map where the picture was taken." %}
          <p><a class="button circle green" href="{% url 'onmap:add' %}" role="button">{% trans "Try..." %}</a></p>
      </div>
    </div>
  
    <div class="wizard-item">
      {# item 1 #}
      <div class="wizard-content">
          <img src="{% static 'images/a5.png' %}" width="300px"> 
          <p>{% trans "Fourth, you can add photos that you uploaded elsewhere through editing to enrich the topic." %}
          <p><a class="button circle green" href="{% url 'onmap:add' %}" role="button">{% trans "Try..." %}</a></p>
      </div>
    </div>

    <div class="wizard-item">
      {# item 1 #}
      <div class="wizard-content">
          <img src="{% static 'images/a6.png' %}" width="300px"> 
          <p>{% trans "Fifth, you can share with map links posted by others.." %}
          <p><a class="button circle green" href="{% url 'onmap:add' %}" role="button">{% trans "Try..." %}</a></p>
      </div>
    </div>

    <div class="wizard-item">
      {# item 1 #}
      <div class="wizard-content">
          <img src="{% static 'images/intro.gif' %}" width="100%"> 
      </div>
    </div>
  </div>

{% endblock main %}

{% block footer %}
  
{% endblock footer %}

{% block javascript %}

<script src="{% static 'js/turbo.min.js' %}"></script> 
<script src="{% static 'js/pictureadd.js' %}"></script> 

{% if not user.is_authenticated %}
  <script>
  $("#id_name").val("Test Name");
  </script>
{% endif %}

<script>
    $(document).ready(function() {
        $(".wizard").Turbo({
            items:1,
            circular:false
        });
    });
</script>
{% endblock javascript %}
