{% extends "base.html" %}
{% load static bootstrap3 i18n %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/custommarker.css' %}"> 
<style>
#map{
  width: 100%;
  height: 600px;
}
th.header{
  width: 10%;
}
</style>
{% endblock css %}


{% block main %}

{% if not user.is_authenticated %}
  <div class="container-fluid">
    <h4>
    If you sign up, all records will be saved and available for future use.<a href="{% url 'login' %}"> <button class="btn btn-primary">Sign Up</button> </a></h4>
     
  </div>
{% endif %}

<div class="table-reponsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="header">#</th>
        <th>Content</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Pictures</th>
        <td>
          {% if position.get_picture_count > 1 %}
            <p>You can see the location of all the individual pictures.</p>
          {% endif %}
          {% for picture in position.pictures.all %}
            {% for pos in picture.positions.all %}
              {% if position != pos %}
                <a href="{{ pos.get_absolute_url }}"> 
                  <img class="ratio img-circle" src="{{picture.file.url}}" alt="{{picture.name}}">
                </a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </td> 
      </tr>
      <tr>
        <th>Anchor</th>
        <td> 
            <a href="http://{{ request.get_host }}/apicall/{{position.id}}/" target="blank">
              http://{{ request.get_host }}/apicall/{{position.id}}/
            </a> 
            <div class="tooltip">
              <button class="btn btn-primary" onclick="myFunction()" onmouseout="outFunc()">
                <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                Copy
              </button>
            </div>
<pre>&lt;a href='http://{{ request.get_host }}/apicall/{{position.id}}/' target='blank'&gt;
    &lt;img src='Picture Name' alt='{{position.name}}'&gt;
&lt;/a&gt;</pre> 
        </td> 
      </tr>
      <tr>
        <th>onMap</th>
        <td> 
            <div id="map"></div>
        </td> 
      </tr>
    </tbody>
  </table>
</div>
{% endblock main %}


{% block javascript %}

{% if china %}
  <script async defer
src="https://ditu.google.cn/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do&callback=initMap"></script>
</script>
{% else %}
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do&callback=initMap"></script>
{% endif %}

{% include 'onmap/displayonmap.js' %}

{% endblock javascript %}
