{% extends "base.html" %}
{% load i18n %}

{% block css %}
<style>
img {
  border-radius: 10%;
}
</style>

{% endblock css %}


{% block main %}

    <div class="form-divider"></div>
    <div class="form-label-divider"><span>{% trans "My List" %}</span></div>
    <div class="form-divider"></div>

    <div class="list-box">
      <div class="list-item">
        <i class="fa fa-bookmark"></i>
        <em class="seperate"></em>
        <span class="list-item-title">Sorting (All or Summary)</span>

        <div class="sweet-check">
          <input type="checkbox" id="id_ptype" value="S" checked>
          <div class="outline">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    

    <div id="position_list">
      {% include "onmap/position_mylist_ajax.html" %}
    </div>

  
    <button class="button circle block green" id="btn_callmore"  
      {% if not next_page %}style="display: none;"{% endif %}
    >
      {% trans "More Positions" %}
    </button>
    <input type="hidden" id="page" value="1"> 


{% endblock main %}



{% block javascript %}
<script>
$("#btn_callmore").click(function(){
    var page = $("#page").val();
    callMorePostAjax(parseInt(page)+1, false);
    $("#page").val(parseInt(page)+1);
});

// $(window).scroll(function(){
//     var scrollHeight = $(window).scrollTop() + $(window).height();
//     var documentHeight = $(document).height();
    
//     if (scrollHeight + 200 >= documentHeight){
//         var page = $("#page").val();
//         callMorePostAjax(parseInt(page)+1, false);
//         $("#page").val(parseInt(page)+1);
//     }
// });

function callMorePostAjax(page, refresh) {
  var ptype = $("#id_ptype").val();
  $.ajax({
    type : 'GET',
    url: "{% url 'onmap:mylist' %}",
    data: {'page': page, 'ptype':ptype},
    dataType: 'json',
    success: function(response){
      if( refresh ){
        $("#position_list").html(response.html);
        if(response.next_page == true ){
          $("#btn_callmore").show();
        }else{
          $("#btn_callmore").hide();
        }
      } else {
        $("#position_list").append(response.html);
        if(response.next_page == true ){
          $("#btn_callmore").show();
        }else{
          $("#btn_callmore").hide();
        }
      }
    },
  });
}
</script>


<script>
function copyToClipboard(id) {
  var copyText = document.getElementById(id);
  copyText.select();
  document.execCommand("Copy");
  alert("Copied the url: " + copyText.value);
}

$(document).on('click', '.sweet-check', function(){
    if ($(this).hasClass('checked')) {
        $("#id_ptype").val('S');
    } else {
        $("#id_ptype").val('A');
    }
    $("#btn_callmore").show();
    callMorePostAjax(1, true);
});
</script>
{% endblock javascript %}
