{% extends "call.html" %}
{% load static i18n %}


{% block css %}
<link href="{% static 'css/picture.css' %}" rel="stylesheet" > 

{% endblock css %}


{% block main %}

<div class="container">
  <div class="col-xs-12 col-sm-2">
    <strong>Name</strong>
  </div>
  <div class="col-xs-12 col-sm-10">
    {{position.name}} &nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div class="col-xs-12 col-sm-2">
    <strong>Pictures</strong>
  </div>
  <div class="col-xs-12 col-sm-10">
    {% for picture in position.pictures.all %}
      <a href="{{ pos.get_absolute_url }}"> 
        <img class="ratio img-circle" src="{{picture.file.url}}" alt="{{picture.name}}">
      </a>
    {% endfor %}
  </div> 
  <hr>
  <div class="col-xs-12 col-sm-2">
    <strong>{% trans "Anchor" %}</strong>
  </div>  
  <div class="col-xs-12 col-sm-10">
    <a href="http://{{ request.get_host }}/onmap/{{position.slug}}/" target="blank">
      <span> http://{{ request.get_host }}/onmap/{{position.slug}}/</span>
    </a> 
  </div>

  <div class="col-xs-12 col-sm-12">
    <form action="">
      {% csrf_token %}  
      <button id="btn_delete" class="btn btn-danger" data-url="{{ position.name }}"> {% trans "Delete" %} </button>
    </form>
  </div>  

  <div class="col-xs-12 col-sm-2">
    <strong>Map</strong>
  </div>  
  <div class="col-xs-12 col-sm-10">
    <div id="map"></div>
  </div>
</div>

{% endblock main %}


{% block javascript %}

<script src="{% static 'js/pictureadd.js' %}"></script> 

{% endblock javascript %}
