{% extends "base.html" %}
{% load static  %}


{% block css %}
<link href="{% static 'css/picture.css' %}" rel="stylesheet" > 
{% endblock css %}


{% block main %}

{% include 'onmap/partial/pos_add.html' %}

{% endblock main %}


{% block javascript %}

<script src="{% static 'js/pictureadd.js' %}"></script>
<script>
$(document).on('click', '.sweet-check', function(){
    if ($(this).hasClass('checked')) {
        $("#id_public").val('on');
    } else {
        $("#id_public").val('off');
    }
});
</script>

{% endblock javascript %}
