{% extends "base.html" %}
{% load static bootstrap3 i18n %}


{% block css %}

</style>
{% endblock css %}


{% block main %}
<div class="table-reponsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Pictures</th>
        <th>Anchor</th>
      </tr>
    </thead>
    <tbody>
    {% for position in positions %}
      <tr>
        <td> <a href="{{ position.get_absolute_url }}"> 
          {{position.name}} </a>
        </td> 
        <td> 
           {% for picture in position.get_pictures %}
              <img class="ratio img-circle" src="{{picture.file.url}}" alt="{{picture.name}}">
           {% endfor %}
           total : # {{ position.pictures.all | length }} pictures
        </td> 
        <td> 
            <a href="http://{{ request.get_host }}/apicall/{{position.id}}" target="_blank">
              http://{{ request.get_host }}/apicall/{{position.id}}
            </a>
        </td>
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
{% endblock main %}


{% block javascript %}

{% endblock javascript %}
