{% extends "base.html" %}
{% load static i18n humanize %}


{% block css %}
<link href="{% static 'css/custommarker.css' %}" rel="stylesheet"> 
<style>
#map{
  width: 100%;
  height: 600px;
}
.well {
  border: 1px solid #e7eaec;
  box-shadow: none;
  background-color: #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 10px;
  font-size: 13px;
  line-height: 16px;
}
.post-content > img {
  border-radius: 50%;
}
</style>
{% endblock css %}


{% block main %}

  {# Notification for Signup #}
    {% if not user.is_authenticated %}
    <div class="form-divider"></div>
    <div class="form-label-divider"><span>{% trans "Infomation" %}</span></div>
    <div class="form-divider"></div>

    <div class="post-item">
      <div class="post-content">
        <h4> {% trans "If you sign up, all records will be saved and available for future use." %}
        <a href="{% url 'login' %}"> 
          <button class="button darkblue">Sign Up</button> </a></h4>
      </div>
    </div>
    {% endif %}

  {# Positon Info #}

    <div class="post-item">
    {# Name #}
      <div class="post-header">
        <strong class="post-title">
          {{position.name}}
        </strong>
        <div>
          <span class="post-date"><i class="fa fa-clock-o"></i> {% trans "create time" %}: {{position.create_dt|naturaltime }} </span>
          <span class="post-comment">
            <i class="fa fa-comments"></i> {{position.views}} {% trans "viewed" %} &nbsp;&nbsp;&nbsp;
            <i class="fa fa-heart"></i> {{position.likes}} {% trans "likes" %}
          </span>
        </div>
      </div>
    {# Button #}
    {% if user.is_authenticated %}
      <div class="post-content">
          <a href="{% url 'onmap:edit' position.slug %}" class="button circle darkblue"> {% trans "Edit" %} </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="button circle red" id="btn-delete" data-url="{{position.slug}}"> {% trans "Delete" %} </a>
      </div>
    {% endif %}
    {# Public #}
      <div class="post-content">
        <div class="list-box">
          <div class="list-item">
            <span>
              {% if position.public %}
                {% trans "You chose 'Public'" %}
              {% else %}
                {% trans "You chose 'Not Public'" %}
              {% endif %}
            </span>
            <div class="sweet-check {% if position.public %}checked{% endif %}">
              <input type="checkbox" {% if position.public %}checked{% endif %} >
              <div class="outline"> </div>
            </div> 
          </div>
        </div>
      </div>     
    {# Pictures #}
      <div class="post-content">
        {% for picture in position.pictures.all %}
            <img src="{{picture.file.url}}" alt="{{picture.name}}-{{picture.id}}">
        {% endfor %}
      </div>   
    {# URL Copy #}
      <div class="post-content">
        <a href="http://{{ request.get_host }}{% url 'onmap:apicall' position.slug %}" target="_blank"> 
          <small>  http://{{ request.get_host }}{% url 'onmap:apicall' position.slug %} </small>
        </a> 
        <button class="button darkblue pull-right" onclick="copyToClipboard()">
          {% trans "Copy to clipboard" %}
        </button><br>
        <input type="text" id="id_copyurl" value="http://{{ request.get_host }}{% url 'onmap:apicall' position.slug %}" >
        <div class="well">
<pre>&lt;a href='http://{{ request.get_host }}{% url 'onmap:apicall' position.slug %}' 
target='_blank'&gt;
    &lt;img src='Picture Name' alt='{{position.name}}'&gt;
&lt;/a&gt;</pre>
        </div>
      </div> 
    {# Map #}
      <div class="post-content">
          <div id="map"></div>
      </div>
    </div> 

{% endblock main %}


{% block javascript %}

{% if china %}
  <script src="http://ditu.google.cn/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do"></script>
{% else %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do"></script>
{% endif %}

<script src="{% static 'js/custommarker.js' %}"></script>

<script>



var pictures = [
    {% for picture in position.pictures.all %}
      {% if picture.lat and picture.lat != 0.0 and picture.lat is not None %}  
        {id: {{picture.id}}, location: {lat: {{picture.lat}}, lng: {{picture.lng}} }, icon: '{{picture.file.url}}' },
      {% endif %}
    {% endfor %}
];

function initialize(){
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        // center: new google.maps.LatLng(36.0078916666667, 128.260222222222),
    });

    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < pictures.length; i++) {
        var position = new google.maps.LatLng( pictures[i].location );
        var id = pictures[i].id;
        var icon = pictures[i].icon;

        new CustomMarker(position, map, pictures[i].icon);

        bounds.extend(position);
    }
    if (pictures.length >= 2) {
        map.fitBounds(bounds);
    } else {
        map.panTo(position);
    }
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

$("#btn-delete").click(function(event){
    event.preventDefault();
    var slug = $(this).attr('data-url');
    var title = "{{position.name}}";
    var result = confirm( "Are you confirm to delete " + title);
    if (result == true){
        $.ajax({
            type: 'POST',
            url: "{% url 'onmap:delete' %}",
            data: {'slug': slug, 'csrfmiddlewaretoken': csrftoken},
            dataType: 'json',
            success: function(response){
               window.location.href = 'http://www.pictureonmap.com/onmap/mylist/'
            }
        })
    }
})

function copyToClipboard() {
  var copyText = document.getElementById("id_copyurl");
  copyText.select();
  document.execCommand("Copy");
  alert("Copied the url: " + copyText.value);
}
</script>

<script>
  
</script>

{% endblock javascript %}

