{% extends "call.html" %}
{% load static bootstrap3 i18n %}


{% block css %}
<style>
#map{
  width: 100%;
  height: 800px;
}

#floating-theme {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  background-color: #ccc;
  font-size: 16px;
  padding: 5px !important;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 15px;
}
</style>
{% endblock css %}


{% block main %}
<div id="map">
  
</div>

<div id="floating-theme">
    <button type=button value="" class="btn" data-url="#">{{user.first_name}}'s {{position.myname}} </button>
</div> 
{% endblock main %}


{% block javascript %}

<script>
var map, pos;
var markers = [];

var map_height = $(window).height();
$("#map").height(map_height);

function initMap() {

  if (navigator.geolocation){
    navigator.geolocation.getCurrentPosition(function(position){
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
        // console.log(myLat, myLng);
      var tempPos = transform(lat, lng);
      myLat = tempPos[0];
      myLng = tempPos[1];
      console.log("My lat :", myLat);

      var pos = {
        lat: myLat,
        lng: myLng
      };

      var marker = new google.maps.Marker({
        position: pos,
        label: 'My',
        map: map
      });

      // map.panTo(pos);

      markers.push(marker);
      bounds.extend(marker.position);

    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    handleLocationError(false, infoWindow, map.getCenter());
  }

  map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: pos
  });

  bounds = new google.maps.LatLngBounds();

  var locations = [
    {% for picture in position.pictures.all %}
        {id: {{picture.id}}, location: {lat: {{picture.lat}}, lng: {{picture.lng}} }, icon: '{{picture.file.url}}' },
    {% endfor %}
  ];

  for (var i = 0; i < locations.length; i++) {
      pos = locations[i].location;
      var id = locations[i].id;
      var title = locations[i].title;
      var icon = locations[i].icon;


      var marker = new google.maps.Marker({
          map: map,
          position: pos,
          icon: icon,
          id: id
      });

      markers.push(marker);
      bounds.extend(marker.position);
  }

  map.fitBounds(bounds)
  
}


</script>

<script async defer
src="http://ditu.google.cn/maps/api/js?key=AIzaSyDXY6uFicQrbFZ-ddMHg2eQrFT9BAVqLOo&callback=initMap">
</script>
{% endblock javascript %}
