{% extends "base.html" %}
{% load i18n %}

{% block css %}

<style>
img {
  border-radius: 50%;
}
</style>

{% endblock css %}


{% block main %}

    <div class="form-divider"></div>
    <div class="form-label-divider"><span>{% trans "Popular Map List" %}</span></div>
    <div class="form-divider"></div>

    <div class="container" id="position_list">
      {% include "onmap/position_popularlist_ajax.html" %}
    </div>

    {% if next_page %}
      <button class="button circle block green" id="btn_callmore">
        {% trans "More Positions" %}
      </button>
    {% endif %}
    <input type="hidden" id="page" value="1"> 


{% endblock main %}


{% block javascript %}
<script>
$("#btn_callmore").click(function(){
    var page = $("#page").val();
    callMorePostAjax(parseInt(page)+1);
    $("#page").val(parseInt(page)+1);
});

$(window).scroll(function(){
    var scrollHeight = $(window).scrollTop() + $(window).height();
    var documentHeight = $(document).height();
    
    if (scrollHeight + 50 >= documentHeight){
        var page = $("#page").val();
        callMorePostAjax(parseInt(page)+1);
        $("#page").val(parseInt(page)+1);
    }
});

function callMorePostAjax(page) {
    $.ajax( {
      type : 'GET',
      url: "{% url 'onmap:popularlist_ajax' %}",
      data: {'page': page, },
      success: function(response){
        $("#position_list").append(response.html);
        if(response.next_page == false){
          $("#btn_callmore").hidden();
        }
      },
      dataType: 'html'
    });
}
</script>


<script>
function copyToClipboard(id) {
  var copyText = document.getElementById(id);
  copyText.select();
  document.execCommand("Copy");
  alert("Copied the url: " + copyText.value);
}
</script>
{% endblock javascript %}
