{% extends "base.html" %}
{% load i18n %}

{% block css %}

<style>
img {
  border-radius: 10%;
}
</style>

{% endblock css %}


{% block main %}

    <div class="form-divider"></div>
    <div class="form-label-divider"><span>{% trans "Popular Map List" %}</span></div>
    <div class="form-divider"></div>

    <div class="form-row-group with-icons">
        <div class="form-row no-padding">
            <i class="fa fa-search"></i>
            <input type="text" name="keyword" id="id_keyword" class="form-element" value="" placeholder="input keyword for Search...">
        </div>
    </div>

    <div class="container" id="position_list">
      {% include "onmap/position_popularlist_ajax.html" %}
    </div>

    {% if next_page %}
      <button class="button circle block green" id="btn_callmore">
        {% trans "More Positions" %}
      </button>
    {% endif %}
    <input type="hidden" id="page" value="1"> 


{% endblock main %}


{% block javascript %}
<script>
$("#btn_callmore").click(function(){
    var page = $("#page").val();
    var keyword = $("#id_keyword").val();
    callMorePostAjax(parseInt(page)+1, keyword, false);
    $("#page").val(parseInt(page)+1);
});

$(window).scroll(function(){
    var scrollHeight = $(window).scrollTop() + $(window).height();
    var documentHeight = $(document).height();
    
    if (scrollHeight + 50 >= documentHeight){
        var page = $("#page").val();
        callMorePostAjax(parseInt(page)+1, "", false);
        $("#page").val(parseInt(page)+1);
    }
});

function callMorePostAjax(page, keyword, refresh) {
    $.ajax( {
      type : 'GET',
      url: "{% url 'onmap:popularlist' %}",
      data: {'page': page, 'keyword':keyword },
      dataType: 'json',
      success: function(response){
        if (refresh ){
          $("#position_list").html(response.html);
        } else {
          $("#position_list").append(response.html);
        }
        if(response.next_page == true ){
          $("#btn_callmore").show();
        }else{
          $("#btn_callmore").hide();
        }
      },
    });
}

$(document).on("keyup", "#id_keyword", function(evt){

    if (evt.keyCode == 13) {
        var keyword = $(this).val();
        callMorePostAjax(1, keyword, true);   
    }
    return false;
});

</script>

{% endblock javascript %}
