{% extends "call.html" %}
{% load static bootstrap3 i18n %}


{% block css %}
<style>
#map{
  width: 100%;
  height: 800px;
}

#floating-theme {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  background-color: #ccc;
  font-size: 16px;
  padding: 5px !important;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 15px;
}
</style>
{% endblock css %}


{% block main %}
<div id="map">
  
</div>

<div id="floating-theme">
    <button type=button value="" class="btn" data-url="#">{{position.author.first_name}}'s {{position.name}} </button>
</div> 
{% endblock main %}


{% block javascript %}

<script>

var map_height = $(window).height();
$("#map").height(map_height);
var markers = [];
var pos, map;

function initMap() {

  map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: pos
  });

  bounds = new google.maps.LatLngBounds();

  var locations = [
    {% for picture in position.pictures.all %}
        {id: {{picture.id}}, location: {lat: {{picture.lat}}, lng: {{picture.lng}} }, icon: '{{picture.file.url}}' },
    {% endfor %}
  ];

  for (var i = 0; i < locations.length; i++) {
      pos = locations[i].location;
      var id = locations[i].id;
      var title = locations[i].title;
      var icon = locations[i].icon;


      var marker = new google.maps.Marker({
          map: map,
          position: pos,
          icon: icon,
          id: id
      });

      markers.push(marker);
      bounds.extend(marker.position);
  }
    // console.log("FitBounds function", theme);
  if (locations.length >= 2) {
      map.fitBounds(bounds);
  } else {
      map.panTo(pos);
  }
}
</script>

{% if china %}
  <script async defer
src="https://ditu.google.cn/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do&callback=initMap">
</script>
{% else %}
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do&callback=initMap">
{% endif %}

{% endblock javascript %}
