{% extends "call.html" %}
{% load static bootstrap3 i18n %}


{% block css %}
<style>
#map{
  width: 100%;
  height: 800px;
}

#floating-theme {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  background-color: #ccc;
  font-size: 16px;
  padding: 8px !important;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 14px;
  border: solid #333 1px;
}
</style>
{% endblock css %}


{% block main %}
<div id="map">
  
</div>

<div id="floating-theme">
    {{position.author.first_name}}'s {{position.name}} 
</div> 
{% endblock main %}


{% block javascript %}

<script>

var map_height = $(window).height();
$("#map").height(map_height);

</script>


{% if china %}
  <script async defer
src="https://ditu.google.cn/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do&callback=initMap">
</script>
{% else %}
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD03p1K9oToraWXg-EsjsV7I06xwKaQ1do&callback=initMap">
{% endif %}

{% include 'onmap/displayonmap.js' %}

{% endblock javascript %}
