{% extends "call.html" %}
{% load i18n %}

{% block css %}

<style>
.container{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
</style>

{% endblock css %}


{% block main %}
<div class="container">
  <h3> {% trans "Popular List" %} </h3>
</div>
<div class="container" id="position_list">

{% include "onmap/position_popularlist_ajax.html" %}
      
</div>

<button class="btn btn-primary btn-block" id="callmorepost">{% trans "More Positions" %}</button>
<input type="hidden" id="page" value="1"> 

{% endblock main %}


{% block javascript %}
<script>
$("#callmorepost").click(function(){
    var page = $("#page").val();
    callMorePostAjax(parseInt(page)+1);
    $("#page").val(parseInt(page)+1);
});

$(window).scroll(function(){
    var scrollHeight = $(window).scrollTop() + $(window).height();
    var documentHeight = $(document).height();
    
    if (scrollHeight + 5 >= documentHeight){
        var page = $("#page").val();
        callMorePostAjax(parseInt(page)+1);
        $("#page").val(parseInt(page)+1);
    }
});

function callMorePostAjax(page) {
    $.ajax( {
      type : 'GET',
      url: "{% url 'onmap:popularlist_ajax' %}",
      data: {'page': page, },
      success: function(response){
        $("#position_list").append(response)
      },
      dataType: 'html'
    });
}
</script>


<script>
function copyToClipboard(id) {
  var copyText = document.getElementById(id);
  copyText.select();
  document.execCommand("Copy");
  alert("Copied the url: " + copyText.value);
}
</script>
{% endblock javascript %}
