{% load static i18n humanize %}

{% for position in positions %}
  
  {# Positon Info #}
    <div class="post-item">
      <div class="post-header">
        <strong class="post-title">
          <a href="{{ position.get_absolute_url }}"> 
            {{position.name}}
          </a>
        </strong>
         
        <div>
          <span class="post-date"><i class="fa fa-clock-o"></i> create time: {{position.create_dt|naturaltime }} </span>
          <span class="post-comment">
            <i class="fa fa-comments"></i> {{position.views}} {% trans "viewed" %} &nbsp;&nbsp;&nbsp;
            <i class="fa fa-heart"></i> {{position.plikes.count}} {% trans "likes" %}
          </span>
        </div>
      </div>
  {# Content #}
      <div class="post-content">
          {% for picture in position.get_pictures %}
              <img class="ratio img-circle" src="{{picture.file.url}}" width="120px" alt="{{picture.name}}">
          {% endfor %}
          total : # <strong style="color: blue;">{{ position.pictures.all | length }} </strong> pictures
      </div>    
    </div>

{% endfor %}