{% extends "base.html" %}

{% load static i18n  %}

{% block css %}
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
<style>
.post-content img {
  border-radius: 50%;
}
.center{
    text-align: center;
    margin: 10px;
}
.i-camera{
    position: absolute;
    right: 4px;
    bottom: -5px;
}
</style>
{% endblock css %}


{% block main %}

    <div class="form-divider"></div>
    <div class="form-label-divider"><span>{% trans "User name and Profile" %}</span></div>
    <div class="form-divider"></div>

    <form method="POST" enctype='multipart/form-data' class="form-horizontal" 
        id="formProfile">
        {% csrf_token %}

      <div class="form-row-group with-icons">
        <div class="form-row no-padding">
          <label class="txt-blue"><strong>User ID</strong></label>
        </div>
      </div>

      <div class="form-row-group with-icons">
        <div class="form-row no-padding">
          <i class="fa fa-vcard-o"></i>
          <input type="text" name="username" id="id_username" disabled 
            class="form-element" value="{{user.username}}">
        </div>
      </div>

      <div class="form-mini-divider"></div>
      <div class="form-row-group with-icons">
          <div class="form-row no-padding">
            <label class="txt-blue"><strong>Name </strong>(possible change)</label>
          </div>
      </div>
      <div class="form-row-group with-icons">
        <div class="form-row no-padding">
          <i class="fa fa-vcard-o"></i>
          <input type="text" name="nickname" id="id_nickname" 
            class="form-element" value="{{form.instance.nickname}}">
        </div>
      </div>

      <div class="form-mini-divider"></div>
      <div class="form-row-group with-icons">
        <div class="form-row no-padding">
            <div class="center">
                <div class="profile-image">
                    <img class="avatar-img" alt="User Avatar" src="{% if user.profile.picture %} {{ user.profile.picture.url }} {% else %} {% static 'images/nouser.png' %}{% endif %}" width="150px">
                    <a class="update-btn"><i class="fa fa-camera i-camera"></i></a>
                </div>
                <input type="file" name="picture" hidden title="" accept="image/*" id="id_picture" class="">
                <input type="hidden" name="x" id="id_x">
                <input type="hidden" name="y" id="id_y">
                <input type="hidden" name="width" id="id_width">
                <input type="hidden" name="height" id="id_height">
            </div>
        </div>
      </div>  

      <div class="form-row">
        <button id="btn-profile" type="submit" 
            class="button circle block green" style="display: none;">
            {% trans "Confirm" %}
        </button>
      </div>
    </form>

{# Summary #}
    <div class="form-divider"></div>
    <div class="form-label-divider">
        <span>{% trans "User map and Pictures" %} </span>
    </div>
    <div class="form-divider"></div>

    <div class="form-row-group with-icons">
      <div class="form-row no-padding">
        <div class="post-content" style="padding: 10px;">
          # map : {{ user.profile.positions_count }} <br>
          # pictures : {{ user.profile.pictures_count }}
        </div>
      </div>
    </div>


{# List of Map #}
    <div class="form-divider"></div>
    <div class="form-label-divider">
        <span>{% trans "My Map List (Summery only)" %} </span>
    </div>
    <div class="form-divider"></div>

    <div id="position_list">
      {% include "onmap/position_mylist_ajax.html" %}
    </div>

    {% if next_page %}
      <button class="button circle block green" id="btn_callmore">
        {% trans "More Positions" %}
      </button>
    {% endif %}
      <input type="hidden" id="page" value="1"> 

{% endblock main %}

{% block modal %}

<div class="popup-overlay" id="modalCrop"> 
    <div class="popup-container">
        <div class="popup-header">
            <h3 class="popup-title">{% trans "Crop the photo" %}</h3>
            <span class="popup-close" data-dismiss="true">
                <i class="fa fa-times"></i>
            </span>
        </div>
        <div class="popup-content">
            <img src="" id='image' style='max-width: 100%'>
        </div>
        <div class="popup-footer">
            <button class="button" data-dismiss="true">Cancel</button>
            <button class="button green btn-crop">
                {% trans "Crop and Upload" %}
            </button>
        </div>
    </div>
</div>

{% endblock modal %}

{% block javascript %}
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>

<script>
$('#id_nickname').bind('input', function() { 
    $("#btn-profile").show();
});

$(".i-camera").click(function(){
    $("#id_picture").click();
})
</script> 

<script>
$("#btn_callmore").click(function(){
    var page = $("#page").val();
    callMorePostAjax(parseInt(page)+1, false);
    $("#page").val(parseInt(page)+1);
});

function callMorePostAjax(page) {
  $.ajax({
    type : 'GET',
    url: "{% url 'myprofile' %}",
    data: {'page': page, 'ptype':'S'},
    dataType: 'json',
    success: function(response){
        $("#position_list").append(response.html);
        if(response.next_page == true ){
          $("#btn_callmore").show();
        }else{
          $("#btn_callmore").hide();
        }
    },
  });
}
</script>
{% endblock javascript %}
