{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="utf-8">
<meta name=”keywords” content="ohtto,lbs,sns" > 
<meta name="viewport" content="width=device-width,
     height=device-height, initial-scale=1, minimum-scale=1,
     maximum-scale=1.5, user-scalable=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113713739-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113713739-1');
</script>
<title>Picture On Map</title>

<!-- Bootstrap core CSS --> 

{% block header %}
  
{% endblock header %}
</head>

<body>
<!-- Fixed navbar -->

{% block body %}
  
{% endblock body %}

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> 

{% block tail %}
    
{% endblock tail %}

</body>
</html>
