{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="utf-8">
<meta name=”keywords” content="ohtto,lbs,sns" > 
<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Picture on Map">
<meta name="author" content="pictureonmap ohtto.com">
<link rel="icon" href="../../favicon.ico">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113713739-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113713739-1');
</script>

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
-->
<title>Picture On Map</title>

<!-- Bootstrap core CSS --> 

<link rel="stylesheet" href="{% static 'css/global.style.css' %}"> 

{% block css %}
    
{% endblock css %}
</head>

<body>
<!-- Fixed navbar -->

<div class="wrapper">
{% include 'header_menu.html' %}

  <div class="wrapper-inline">
        <!-- Header area start -->
    <header> <!-- extra class no-background -->
      <div class="navi-menu-button">
        <em></em>
        <em></em>
        <em></em>
      </div>
      <h1 class="page-title">Picture on Map</h1>

    </header>
    <!-- Header area end -->
    <!-- Page content start -->
    <main>
      <section class="container">

  {% block main %}
  

  {% endblock main %}


  {% block footer %}
    <div class="form-divider"></div>
    <footer class="container">
      <div>
        &copy;www.ohtto.com &copy;www.pictureonmap.com &nbsp;&nbsp;&nbsp;&nbsp;since 2018. <br>
        Mission : {% trans "gives all content the vitality of location" %} <a mailto:pictureonmap@outlook.com></a>
        <div class="form-divider"></div>
        <div class="fb-like" 
            data-href="https://www.pictureonmap.com/" 
            data-layout="standard" 
            data-action="like" 
            data-size="large" 
            data-show-faces="true" 
            data-share="true">
        </div>
        <div id="fb-root"></div>
      </div>

      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1130433950309278&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    </footer>
    <div class="form-divider"></div>
  {% endblock footer %}

      </section>
    </main>

        
  </div><!-- <div class="wrapper-inline"> -->
</div><!-- div.wrapper -->

<div class="sweet-loader">
  <div class="box">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
  </div>
</div>


{% block modal %}

{% endblock modal %}

<!--
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
-->

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> 
<script src="{% static 'js/global.script.js' %}"></script> 

{% block javascript %}
  
{% endblock javascript %}

</body>
</html>
