{% load static i18n %}

<div class="nav-menu">
  <nav class="menu">
    <!-- Template logo start -->
    <div class="nav-header">
      <a href="{% url 'myprofile' %}">
          <img src="{% if user.profile.picture %} {{ user.profile.picture.url }}{% else %} {% static 'images/nouser.png' %}{% endif %}" width="150px" class="" width="160"> 
      </a>
      <h3 class="author">
        {% if user.is_authenticated %}
          {% if user.profile.nickname %}
            <a href="{% url 'myprofile' %}" style="color: white;">
              {{user.profile.nickname}}
            </a>   
          {% endif %}
        {% else %}
          <a href="{% url 'login' %}">{% trans "Login/SignUp" %}</a> 
        {% endif %}
    </h3>
    </div>
    <!-- Template logo end -->
    <!-- Menu navigation start -->
    <div class="nav-container">
      <ul class="main-menu">
        <li>
          <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
          <a href="{% url 'onmap:add' %}"><i class="fa fa-file-image-o"></i> Add</a>
        </li>
        <li>
          <a href="{% url 'onmap:popularlist' %}"><i class="fa fa-heart-o"> </i> Popular List</a>
        </li>
        
    {% if user.is_authenticated %}
        <li><a href="{% url 'onmap:mylist' %}"><i class="fa fa-th-large"></i> My List</a></li>
        <li>
          <a href="{% url 'logout' %}"><i class="fa fa-logout"></i>Logout</a>
        </li>
    {% else %}
        <li>
          <a href="{% url 'login' %}"> 
               <i class="fa fa-sign-in"></i>{% trans "Login/SignUp" %}
          </a>
        </li>
    {% endif %}

      </ul>
    </div>
  <!-- Menu navigation end -->
  </nav>
</div>
